.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.filter-button {
  margin: 20px 0;
}

.filter-button button{
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(241, 238, 17);;
  border-radius: 10px;
}

button:hover{
  transform: scale(1.04);
}

h1 {
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient(to right, #666363 0, white 10%, #666363 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 3s linear infinite;
}

@keyframes  animate {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 470px;
  }
  100% {
    background-position: 470px;
  }
}
